<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1" /> 
<body>
<h1>Control Raspberry pi Display</h1>
<div>
<button onClick="On()" type="button">On</button>
<button onClick="Off()" type="button">Off</button>
</div>
<script>

	function On(){
		const Http = new XMLHttpRequest();
 		const url='http://<%= hostname %>:3000/On';
 		Http.open("POST", url);
 		Http.send();
	}

	function Off(){
		const Http = new XMLHttpRequest();
 		const url='http://<%= hostname %>:3000/Off';
 		Http.open("POST", url);
 		Http.send();
	}

</script>
</html>
</body>

<style>
	div,h1 {
		text-align: center;
	}
	button {
		min-width: 10vw;
		min-height: 10vh;
		padding: 5%;
		margin-left: auto;
        margin-right: auto;
		border-radius: 10%;
		
	}
</style>
</html>